@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

@font-face {
  font-family: 'basement';
  src: url('../components/asset/basement-grotesque/BasementGrotesque-Black_v1.202.otf');

  font-style: normal;
  }
  
@font-face {
  font-family: 'Satoshi';
  src: url('../components/asset/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf');
  font-style: normal;
  }
  


html,
body {
  padding: 0;
  margin: 1rem ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.borrow_table_data {
  width: 150px;
  text-align: center;
  background-color: #252525;
  border-right: hidden;
  padding: 10px;
}
.borrow_table_rows:hover .borrow_table_data {
  background-color: #dde0e0;
}
.borrow_table_Head {
  font-weight: bold;
  height: 50px;
  text-align: center;

  border-right: hidden;
  padding: 10px;
}

#borrow_table_HeadingLeftBorderRadius{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#borrow_table_HeadingRightBorderRadius{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#borrow_table_dataLeftBorderRadius{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#borrow_table_datarightBorderRadius{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bg{
  background-image: url("../public/coin.svg");
  background-size:(100%,100%);
 background-position: right center;;
 background-repeat: no-repeat;
 transform: scale(1);
}
.rad{
  background-image: radial-gradient(50% 50% at 50% 50%,#a92c65a6, rgba(0, 0, 0, 0) 100%);
}
.link_active {
  border-bottom: 5px solid green;
}

.sidebar_link_active {
  border-left: 5px solid green;
  padding-left: 0.3rem;
}
.ether_for_connect{
  transform: scale(0.8);
}
.tron_for_connect{
  transform: scale(0.6);
}

 /************** cripto info table ******************/
 .cripto_info_table_data {
  text-align: center;
  background-color: #252525;
  border-right: hidden;
  padding: 10px;
}
.cripto_info_table_rows:hover .cripto_info_table_data {
  background-color: #dde0e0;
}
.cripto_info_table_Head {
  font-weight: bold;
  height: 25px;
  text-align: center;
  border-right: hidden;
  padding: 10px;
}

#cripto_info_table_HeadingLeftBorderRadius{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#cripto_info_table_HeadingRightBorderRadius{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#cripto_info_table_dataLeftBorderRadius{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#cripto_info_table_datarightBorderRadius{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}